@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Imprima&family=Pacifico&display=swap');

$S: 25rem;
$M: 45rem;

@mixin mQ($canvas) {
    @if $canvas == S {
        @media only screen and (min-width: $S) {
            @content;
        }
    }
    @else if $canvas == M {
        @media only screen and (min-width: $M) {
            @content;
        }
    }
}
@mixin main-text {
    text-align: center;
    color: white;
}
@mixin flex-column {
    display: flex;
    flex-direction: column;
}



body, html {
    width: 100%;
    height: 100%;
    margin: 0;
}

html {
    background-color: white;
}

body {
    margin: auto;
    @include mQ(M) {
        max-width: 2000px;
    }
}

// nav
.container-fluid {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
}

.navbar-collapse {
    display: flex;
    flex-direction: row;
}

.navbar-nav {
    display: flex;
    padding: 0;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.navbar-toggler {
    display: none;
}


//main both
h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;

}

p, a, span {
    font-family: sans-serif;
    text-decoration: none;
    color: black;
}

li { //*************************
    list-style: none;  
    padding: .5rem 1rem; 
}

header {
    background-color: white;
}

.sticky-top {      //**********************************************************
    position: sticky;
    top: -1px;
}

//index
.index-main-wrapper {
    position: relative;
    background-image: url("/images/placeholder.jpg");
    height: 100vh;
    background-attachment: fixed;
    background-size: cover;
}

.index-h1 {
    position: absolute;
    top: 15rem;
    left: 15rem;
    font-size: 5rem;
    @include main-text;
}


//portfolio
.portfolio-body {
    
    @include mQ(M) {
        @include flex-column;
    }
}

.portfolio-main {
    background-color: #DBCBA4;
    padding: 2rem 0;
    @include mQ(M) {
        @include flex-column;
        height: 100%;
        justify-content: center;
    }
}

.portfolio-h1 {
    @include main-text;
    @include mQ(M) {
        font-size: 5rem;
        margin-bottom: 0;
    }
}

.portfolio-body-content {
    @include mQ(M) {
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 100%;
    }

}

.portfolio-body-content-divs {

    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    //transform: translate(0, -50%);
    
}

/* .portfolio-body-content-div-1 {
    background-image: url("/images/commerce.jpg");
    background-size: cover;
}

.portfolio-body-content-div-2 {
    background-image: url("/images/zen.jpg");
    background-size: cover;
}

.portfolio-body-content-div-3 {
    background-image: url("/images/preston.jpg");
    background-size: cover;
} */

.background-img {
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    @include mQ(M) {
        width: 15rem;
        height: 15rem;
    }
    &:hover {
    filter: blur(1px);
    box-shadow: 0px 0px 15px #7e7662;
    }
}

.portfolio-body-content a { 
    @include main-text;
    font-size: 1.2rem;
    @include mQ(M) {
        font-size: 1.5rem;
    }
}



a:hover {
    color: #DBA00A;
}

footer {
    height: 12rem;
    background-color: white;
}


//sig
.main-wrapper {
    background-color: #AF9992;
    position: relative;
    width: 600px;
    height: 200px;
}

.posh, .baby, .basket {
    font-family: 'Imprima', sans-serif;
    display: inline;

}


.tag-wrapper {
    font-family: 'Pacifico', cursive;

}

.tag-wrapper p {}