@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Imprima&family=Pacifico&display=swap");
body, html {
  width: 100%;
  height: 100%;
  margin: 0; }

html {
  background-color: white; }

body {
  margin: auto; }
  @media only screen and (min-width: 45rem) {
    body {
      max-width: 2000px; } }

.container-fluid {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem; }

.navbar-collapse {
  display: flex;
  flex-direction: row; }

.navbar-nav {
  display: flex;
  padding: 0; }

.navbar-brand {
  display: flex;
  align-items: center; }

.navbar-toggler {
  display: none; }

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif; }

p, a, span {
  font-family: sans-serif;
  text-decoration: none;
  color: black; }

li {
  list-style: none;
  padding: .5rem 1rem; }

header {
  background-color: white; }

.sticky-top {
  position: sticky;
  top: -1px; }

.index-main-wrapper {
  position: relative;
  background-image: url("/images/placeholder.jpg");
  height: 100vh;
  background-attachment: fixed;
  background-size: cover; }

.index-h1 {
  position: absolute;
  top: 15rem;
  left: 15rem;
  font-size: 5rem;
  text-align: center;
  color: white; }

@media only screen and (min-width: 45rem) {
  .portfolio-body {
    display: flex;
    flex-direction: column; } }

.portfolio-main {
  background-color: #DBCBA4;
  padding: 2rem 0; }
  @media only screen and (min-width: 45rem) {
    .portfolio-main {
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: center; } }

.portfolio-h1 {
  text-align: center;
  color: white; }
  @media only screen and (min-width: 45rem) {
    .portfolio-h1 {
      font-size: 5rem;
      margin-bottom: 0; } }

@media only screen and (min-width: 45rem) {
  .portfolio-body-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%; } }

.portfolio-body-content-divs {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center; }

/* .portfolio-body-content-div-1 {
    background-image: url("/images/commerce.jpg");
    background-size: cover;
}

.portfolio-body-content-div-2 {
    background-image: url("/images/zen.jpg");
    background-size: cover;
}

.portfolio-body-content-div-3 {
    background-image: url("/images/preston.jpg");
    background-size: cover;
} */
.background-img {
  border-radius: 50%;
  width: 10rem;
  height: 10rem; }
  @media only screen and (min-width: 45rem) {
    .background-img {
      width: 15rem;
      height: 15rem; } }
  .background-img:hover {
    filter: blur(1px);
    box-shadow: 0px 0px 15px #7e7662; }

.portfolio-body-content a {
  text-align: center;
  color: white;
  font-size: 1.2rem; }
  @media only screen and (min-width: 45rem) {
    .portfolio-body-content a {
      font-size: 1.5rem; } }

a:hover {
  color: #DBA00A; }

footer {
  height: 12rem;
  background-color: white; }

.main-wrapper {
  background-color: #AF9992;
  position: relative;
  width: 600px;
  height: 200px; }

.posh, .baby, .basket {
  font-family: 'Imprima', sans-serif;
  display: inline; }

.tag-wrapper {
  font-family: 'Pacifico', cursive; }

/*# sourceMappingURL=styles.css.map */
