@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Imprima&family=Pacifico&display=swap");
/* No media query necessary for xs breakpoint as it's effectively `@media (min-width: 0)
@include media-breakpoint-up(sm) { ... } 576px
@include media-breakpoint-up(md) { ... } 768px
@include media-breakpoint-up(lg) { ... } 992px
@include media-breakpoint-up(xl) { ... } 1200px
@include media-breakpoint-up(xxl) { ... } 1400px
*/
body, html {
  width: 100%;
  height: 100%; }

body {
  display: flex;
  flex-direction: column; }

.portfolio-body {
  height: auto; }

main {
  height: 100%; }

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif; }

p, a, span {
  font-family: sans-serif;
  text-decoration: none;
  color: black; }

li {
  list-style: none;
  padding: .5rem 1rem; }

.navbar-brand {
  padding: .5rem 1rem; }

.navbar-toggler {
  margin-right: .5rem; }

nav .container-fluid {
  padding: 1rem 0; }

.index-main-wrapper {
  position: relative;
  background-image: url("/images/bkg.jpg");
  z-index: 0;
  height: 100%;
  background-attachment: fixed;
  background-size: cover; }

.intro-container {
  background-color: #DBCBA4;
  height: 75%;
  width: 70%;
  position: relative;
  top: 10%; }

.index-h1 {
  padding: 2rem 2rem 0 1rem;
  color: black;
  line-height: 1.6;
  font-size: 2rem;
  margin-bottom: 0; }
  .index-h1 mark {
    background-color: #A69972;
    color: black;
    line-height: 2;
    font-size: 1.8rem; }

.index-h1-p {
  font-family: 'Montserrat', sans-serif;
  padding: 0 2rem 2.2rem 1rem;
  color: black;
  line-height: 1.6;
  font-size: 1.2rem; }

.img-container {
  display: none; }

nav .navbar-toggler {
  color: #736448; }

.portfolio-main {
  background-color: #DBCBA4;
  padding: 2rem; }

.portfolio-h1 {
  text-align: center;
  padding: 2rem 0; }

h3 {
  font-size: 1rem;
  padding: 1rem 0; }

.card, .card-body * {
  background-color: #DBCBA4;
  border: none; }

.card-img-top {
  border-radius: 50%;
  max-width: 300px; }
  .card-img-top:hover {
    box-shadow: 0px 0px 15px #7e7662; }

a:hover {
  color: #d77a61; }

.row {
  justify-content: center;
  margin-right: 0; }

footer .container-fluid {
  padding: 1.5rem 0; }

.bi {
  width: 2rem;
  height: 2rem; }

.bi-github {
  color: #333; }

.bi-wordpress {
  color: #21759b; }

.bi-linkedin {
  color: #0072b1; }

@media only screen and (min-width: 576px) {
  .portfolio-body {
    height: 100%; }

  .container-fluid {
    padding: 1rem 0; }

  .me-auto {
    margin-right: 0 !important; }

  .navbar-expand-sm .navbar-collapse {
    justify-content: flex-end; }

  .index-h1 {
    font-size: 3rem; }
    .index-h1 mark {
      font-size: 2.5rem; }

  .index-h1-p {
    padding: 0.5rem 2rem 2rem 1rem; }

  .row {
    margin-right: calc(-.5 * var(--bs-gutter-x)); }

  footer .container-fluid {
    padding: 2rem 0; } }
@media only screen and (min-width: 768px) {
  .img-container {
    width: 30%;
    height: 60%;
    z-index: 1;
    position: absolute;
    top: 15%;
    right: 10%;
    display: block; }

  .img-container img {
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
    border-top-left-radius: 45%;
    border-top-right-radius: 45%;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    display: block; }

  .index-h1 {
    width: 80%; }

  .index-h1-p {
    width: 80%; }

  body {
    max-width: 2000px; }

  h3 {
    font-size: 1.3rem; }

  footer .container-fluid {
    padding: 3rem 0 1.5rem 0; } }
@media only screen and (min-width: 992px) {
  .img-container {
    top: 15%; } }
@media only screen and (min-width: 1200px) {
  .img-container {
    top: 12%;
    right: 18%; }

  .intro-container {
    left: 2%;
    max-width: 50rem;
    margin-left: 2rem; } }
@media only screen and (min-width: 1400px) {
  .img-container {
    top: 12%;
    left: 750px; }

  .intro-container {
    left: 60px;
    max-width: 50rem;
    margin-left: 2rem; } }
.main-wrapper {
  background-color: #AF9992;
  position: relative;
  width: 600px;
  height: 200px; }

.posh, .baby, .basket {
  font-family: 'Imprima', sans-serif;
  display: inline; }

.tag-wrapper {
  font-family: 'Pacifico', cursive; }

/*# sourceMappingURL=styles.css.map */
