@media only screen and (min-width: 37.5em) {
    .contentDiv {
        max-width: 722px;
    }

    main {
        grid-template-columns: 1fr 1fr;
    }

    #c2-content {
        margin: 0px 0px 0px 15px;
    }

    #c3-content {
        grid-column: span 2;
    }

    h1 {
        font-size: 3rem;
    }

    footer {
        font-size: 1rem;
    }

}