
body {
  margin: 0px;
}

.pancakeBanner {
background-color: #F5CB5C;
color: white;
font-size: 1rem;
padding: 15px;
font-family: 'Anton', sans-serif;
text-align: center;
}

header {
display: flex;
align-items: flex-end;
background-color: #CFDBD5;
height: 90px;
padding-bottom: 20px;
}

.web-name {
  display: flex;
  flex-direction: column;
}

.logo img {
  width: 40px;
  padding: 10px 0px 0px 10px;
}

h1 {
  font-size: 1.5rem;
  margin: 0px;
  padding: 10px 5px 5px 8px;
  color: #34344A;
  font-family: 'Stint Ultra Expanded', sans-serif;
}

.motto {
  font-size: 12px;
  padding: 0px 10px;
  color: #34344A;
  font-family: "Montserrat", sans-serif;
}

.navUl {
  list-style: none;
  padding: 0;
  text-align: center;
  margin: 0;

}

.navUl a {
  text-decoration: none;
  display: block;
  font-size: 15px;
  color: #34344A;
  font-family: 'Karma', serif;
}

.navUl li {
  display: none;
  padding: 10px 0px;
  border-bottom: 1px solid #333533;
}

.navUl li:first-child {
  display: block;
}

.navUl li.active {
  background-color: #CFDBD5;
}

.navUl li:hover {
  background-color: #F4F6F5;
}

  div#heroPic {
    width: 100%;
    margin: 40px auto;
    max-width: 1280px;
  }

  div#heroPic img {
    width: 100%;
  }

  h2 {
    font-size: 1.5rem;
    color: #34344A;
    font-family: 'Karma', serif;
    padding-left: 15px;
  }

  h3 {
    font-family: 'Karma', serif;
}

p {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}

  section#townsSec {
    background-color: #F6F8F2;
    padding: 25px;
    margin: 40px 0px 0px 0px;
  }

  section#townsSec article {
    display: grid;
    grid-template-columns: 270px;
    padding: 30px 0px;
    justify-content: center;
  }

  section#townsSec article.tArt div.imgDiv {
    max-width: 270px;
    justify-self: center;
  }
  
  section#townsSec article.tArt div.imgDiv img {
    width: 100%;
    padding-bottom: 15px;
  }

  img:hover {
      border: 1px solid #34344A;
  }

  article.tArt div.townsData {
    border-left: 2px solid #f5cb5c;
    padding: 5px 20px;
    margin-left: 15px;
  }

  section#reportSec {
    padding: 40px;
  }

  section#reportSec h3 {
    color: #34344A;;
    font-size: 2rem;
    font-weight: bold; 
  }

  section#reportSec h4 {
    color: rgb(78, 85, 103);
  }
  
  section#reportSec img {
    display: none;
  }

  .contactInfo {
    padding: 25px 30px;
    text-align: right;
    background-color: #E8EDDF;
  }
  
  .contactInfo div.push p {
    line-height: 25px;
    margin: 0px;
    font-size: 12px;
    color: #333533;
  }
  
  .contactInfo div {
    margin: 0px 15px;
  }
  
  .contactInfo h3 {
    margin: 0px;
    font-size: 17px;
    padding-bottom: 10px;
  }
  
  .contactInfo > div:last-child img {
    display: none;
  }
  
  .contactInfo div:first-child .media-icons {
    width: 30px;
    padding: 0px 5px;
    margin: 0 auto;
  }
  
  footer div p {
    background-color: #CFDBD5;
    color: #34344A;
    font-family: 'Karma', serif;
    display: block;
    text-align: center;
    margin: 0px;
    line-height: 25px;
    padding: 30px 15px;
  }
  
  .responsive li {
    display: block;
  }