@media only screen and (min-width: 37.5em) {
    header img {
        padding: 20px;
        width: 40px;
    }

    h1 {
        font-size: 1.5em;
    }

    main {
        padding-left: 40px;
        padding-right: 70px;
    }

    ul.navUl {
        flex-direction: row;
        justify-content: space-evenly;
        line-height: 70px;
    }

    .navUl a {
        padding: 20px;
    }

    .navUl li {
        padding: 0px;
    }

    h2 {
        font-size: 2.5rem;
    }

    main p {
        font-size: 15px;
    }

    main li {
        font-size: 15px;
        line-height: 30px;
    }

    .palettep img{
        max-width: 600px;
        padding: 10px;
    }

    footer {
        font-size: 17px;
        margin-top: 100px;
    }
}